@model IEnumerable<LibraryBook.Models.Book>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@_localizer["Aanmaken"]</a>
</p>
<p>
    <form asp-action="Index" asp-controller="Books" method="get">
        @_localizer["Zoeken"]
        <input type="text" name="searchField" />
        <input type="submit" value="@_localizer["Zoeken"]" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLoaned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loaner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLoaned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loaner.UserName)
            </td>
                @if (User.IsInRole("User"))
                {
                    @if (!item.IsLoaned)
                    {
                        <td>
                            <a asp-action="Create" asp-controller="Loans" asp-route-bookId="@item.Id" class="btn btn-primary">@_localizer["Lenen"]</a>
                        </td>
                    }
                }
                else if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Wijzigen"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Verwijderen"]</a>
                    </td>
                }

        </tr>
}
    </tbody>
</table>
