@model IEnumerable<LibraryBook.Areas.Data.LibraryUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}


<h1>@_localizer["User Index"]</h1>

@if (User.IsInRole("Admin"))
{
<p>

    <a asp-action="Create">@_localizer["Nieuw aanmaken"]</a>
</p>
}

<form asp-action="Index" method="get">
    <label for="roleFilter">Filter by Role:</label>
    <select id="roleFilter" name="roleFilter">
        <option value="">@_localizer["All Roles"]</option>
        @foreach (var role in ViewBag.Roles as List<string>)
        {
            if (role == (string)ViewBag.CurrentFilter)
            {
                <option value="@role" selected>@role</option>
            }
            else
            {
                <option value="@role">@role</option>
            }
        }
    </select>
    <button type="submit">@_localizer["Filtreren"]</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Wijzigen"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Verwijderen"]</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
