@model LibraryBook.Models.Loan
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Create";
}

<h1>@_localizer["Aanmaken"]</h1>

<h4>@_localizer["Lening"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book" />
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label">@_localizer["Datum begin lening"]</label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label">@_localizer["Datum einde lening"]</label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">@_localizer["Boek"]</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="@_localizer["Aanmaken"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localizer["Terug naar lijst"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
