@model IEnumerable<LibraryBook.Models.Loan>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loaner.UserName) @* Add column header for Loaner *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @(item.Loaner?.UserName ?? "-")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Wijzigen"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Verwijderen"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
